<form method="post">
    {% if errors %}
        <ul>
            {% for error in errors %}
                <li class="text-danger">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <input name="category"
               type="text"
               class="form-control"
               id="category"
               value="{{ recipe.category }}"
               required>
    </div>

    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input name="name"
               type="text"
               class="form-control"
               id="name"
               value="{{ recipe.name }}"
               required>
    </div>

    <div class="mb-3">
        <label for="difficulty" class="form-label">Difficulty</label>
        <select name="difficulty" class="form-control" id="difficulty" aria-describedby="difficulty" required>
            {% for i in range(1, 6) %}
                <option value="{{ i }}"{{ ' selected' if recipe.difficulty == i else '' }}>
                    {{ '★' * i }}{{ '☆' * (5 - i) }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-auto">
            {% if not recipe.id %}
                <button type="submit" class="btn btn-primary" onclick="return confirm('Create recipe?')">
                    Create
                </button>
            {% else %}
                <button type="submit" class="btn btn-primary" onclick="return confirm('Save recipe?')">
                    Save
                </button>
            {% endif %}
        </div>
        <div class="col-auto">
            <a href="{{ url_for('list_all') }}" class="btn btn-secondary">Close</a>
        </div>
    </div>
</form>