{% extends 'base.html' %}

{% block main %}
    <h1>Order</h1>

    <form method="post">
        <div class="mb-3">
            <label for="product" class="form-label">Product</label>
            <input name="product"
                   type="text"
                   class="form-control"
                   id="product"
                   value="{{ order.product }}"
                   aria-describedby="product"
                   required>
        </div>

        <div class="mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input name="quantity"
                   type="number"
                   class="form-control"
                   id="quantity"
                   min="1"
                   value="{{ order.quantity }}"
                   aria-describedby="quantity">
        </div>

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Order</button>
            </div>
        </div>
    </form>

    {% if summary %}
        <h1>Summary</h1>

        <table>
            <tbody>
            <tr>
                <th>Product</th>
                <td>{{ order.product }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ order.quantity }}</td>
            </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock %}