{% extends 'base.html' %}

{% set user = form.entity %}

{% block main %}
    <h1>Profile</h1>

    <form method="post">
        <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">

        {% if form.errors %}
            <ul class="list-group">
                {% for error in form.errors %}
                    <li class="text-danger">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input name="username"
                   type="text"
                   class="form-control"
                   id="username"
                   value="{{ user.username }}"
                   aria-describedby="username"
                   required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input name="password"
                   type="password"
                   class="form-control"
                   id="password"
                   aria-describedby="password"{{ ' required' if form.create_form else '' }}>
        </div>

        <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <select name="role" class="form-control" id="role" aria-describedby="role" required>
                <option{{ ' selected' if not user.admin else '' }} value="0">
                    USER
                </option>
                <option{{ ' selected' if user.admin else '' }} value="1">
                    ADMIN
                </option>
            </select>
        </div>

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                {% if form.create_form %}
                    <button type="submit" class="btn btn-primary" onclick="return confirm('Create user?')">
                        Create
                    </button>
                {% else %}
                    <button type="submit" class="btn btn-primary" onclick="return confirm('Save user?')">
                        Save
                    </button>
                {% endif %}
            </div>
            <div class="col-auto">
                <a href="{{ url_for('users.list_all') }}" class="btn btn-secondary">Close</a>
            </div>
        </div>
    </form>
{% endblock %}