{% extends 'base_search.html' %}

{% block main %}
    <h1>Users</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th colspan="2"></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ 'ADMIN' if user.admin else 'USER' }}</td>
                <td>
                    <a href="{{ url_for('users.edit', user_id=user.id) }}" class="btn btn-primary">
                        Edit
                    </a>
                </td>
                <td>
                    <form method="post" action="{{ url_for('users.delete', user_id=user.id) }}">
                        <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">

                        <button type="submit" class="btn btn-danger" onclick="return confirm('Delete user?')">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_admin() %}
        <p><a href="{{ url_for('users.create') }}" class="btn btn-primary">Create user</a></p>
    {% endif %}
{% endblock %}